*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    position: relative;
    height: 100vh;
    width: 100%;
    // overflow: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    display: none;
}

.d-flex {
    display: flex;
}

.opac-0 {
    opacity: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.g-4 {
    gap: 4px;
}

.g-8 {
    gap: 8px;
}

.g-12 {
    gap: 12px;
}

.g-16 {
    gap: 16px;
}

.g-24 {
    gap: 24px;
}

.g-32 {
    gap: 32px;
}

.g-40 {
    gap: 40px;
}

.g-40 {
    gap: 40px;
}

.g-48 {
    gap: 48px;
}

.g-64 {
    gap: 64px;
}

.mt-4 {
    margin-top: 4px;
}

.w-100 {
    width: 100%;
    height: 100%;
}

.h-100 {
    height: 100%;
}


.d-none {
    display: none;
}


header {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 14px 32px;
    background-color: black;
    width: 100vw;
    z-index: 9;
    border-bottom: 2px solid #74747480;

    & .header-wrapper {

        & .header-left {

            &  a {
                text-decoration: none;
                color: #C01A20;

                &  h1 {
                    font-family: Righteous;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }


            & .menu {
                padding: 0px 64px;

                @media (max-width: 1100px) {
                    padding: 0px 0px 0px 32px;
                    gap: 4px !important;
                }

                & a  {
                    padding: 8px;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #FFF;

                    &:first-child {
                        color: #C01A20;
                    }

                    &:hover {
                        color: #C01A20;
                    }

                    & p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }
            }
        }

        & .header-right {

            & .search-wrapper {
                background-color: #fff;
                width: 283px;
                height: 48px;
                border-radius: 24px;
                padding: 12px 16px;

                & form .search input {
                    border: none;
                    width: 216px;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                        color: #555;
                    }
                }

                & form .search button {
                    border: none;
                    background-color: #fff;
                    margin-right: -4px;
                    cursor: pointer;
                }
            }

            & .notify {
                position: relative;
                padding: 6px 8px;
                color: #FFF;
                cursor: pointer;

                &-count {
                    position: absolute;
                    height: 16px;
                    width: 16px;
                    background-color: #C01A20;
                    border-radius: 50%;
                    top: 0;
                    right: 5px;


                    & p {
                        color: #FFF;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px; /* 166.667% */
                        letter-spacing: 0.14px;
                    }
                }
            }

            & .profile-container {
                position: relative;
                
                & .profile {
                    height: 40px;
                    color: #fff;
                    cursor: pointer;

                    &-img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: contain;
                        object-position: center;
                        overflow: hidden;
                    }
                }

                & .profile-action {
                    position: absolute;
                    padding: 20px 16px;
                    border-radius: 8px;
                    background-color: #fff;
                    top: 50px;
                    left: -82px;
                    z-index: 99;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }

        }

    }
}


main {
    position: relative;
    background-color: black;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    margin-top: 76px;
   

    & .hero-section {
        height: 52vh;
        width: 100vw;
        background-color: transparent;
        padding: 0px 32px 0px 32px;
        overflow-y: hidden;
        overflow-x: hidden;

        & .hero-slider {
            color: #fff;
            height: 94%;
            // background-color: #555;

            & .back, .forward {
                font-size: 32px;
                cursor: pointer;
            }

            & .forward {
                margin-right: -12px;
            }

            

            & .hero-img-wrapper {
                overflow: hidden;
                width: 1294px;

                @media (max-width: 1440px) {
                    
                    width: 1069px;
                }

                @media (max-width: 1242px) {
                    
                    width: 964px;
                }

                @media (max-width: 1133px) {
                    
                    width: 728px;
                }

                .hero-img-container {
                    width: 100%;
                    // background-color: red;
                    & .hero-img {
                        backface-visibility: visible;
                        height: 100%;
                        width: 410px;
                        border-radius: 10px;
                        // background-color: red;

                        &:nth-child(2) {
                            cursor: pointer;
                        }

                        &.transformed-0 {
                            transform: perspective(478px) rotateY(345deg) scale(0.9)
                        }

                        &.transformed-1 {
                            transform: translate(0%, 0%);
                        }

                        &.transformed-11 {
                            transform: translate(200%, 0%) perspective(478px) rotateY(-345deg) scale(0.9);
                        }

                        &.transformed-2 {
                            transform: perspective(478px) rotateY(-345deg) scale(0.9);
                        }


                        
    
                        @media (max-width: 1440px) {
                            height: 380px;
                            width: 335px;
                        }
    
                        @media (max-width: 1242px) {
                            height: 380px;
                            width: 300px;
                        }
    
                        @media (max-width: 1133px) {
                            height: 300px;
                            width: 240px;
                        }
    
                        &-up {
                            position: relative;
                            border-radius: 8px;
                            height: 380px;
                            width: 100%;
                            background-color:  green;
                            overflow: hidden;
                            object-fit: contain;
                            object-position: center;

                            & img {
                                height: 100%;
                                width: 100%;
                            }

                        }

                        &:nth-child(2):hover .hero-img-hover {
                            transition: 0.3s ease-in-out;
                            top: 0;
                            left: 0;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.116);
                            box-shadow: 0px -40px 73px 16px black inset;
                            
                            & .play-container {
                                transition: 0.3s ease-in-out;
                                height: 80%;
                                width: 100%;
                                
                                & span {
                                    transition: 0.3s ease-in-out;
                                    padding: 8px;
                                    background-color: rgba(128, 128, 128, 0.363);
                                    border-radius: 50%;
                                    color: #fff;
                                    font-size: 36px;
                                    margin-top: 60px;
                                }
                            }
                            
                            & .song-info {
                                transition: 0.3s ease-in-out;
                                text-align: left;
                                padding: 12px;
                                width: 100%;
                                
                                & h4 {
                                    transition: 0.3s ease-in-out;
                                    font-size: 24px;
                                    font-weight: 300;
                                }
                                
                                & h5 {
                                    transition: 0.3s ease-in-out;
                                    font-size: 18px;
                                    color: #b6b4b4;
                                    font-weight: 400;
                                 }
                             }

                        }
                        
                        &-down {
                            position: relative;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            height: 39px;
                            width: 100%;
                            overflow: hidden;
                            object-fit: cover;
                            object-position: center;

                            & img {
                                transform: scaleY(-1);
                            }
                            
                            & .shadow {
                                top: 50%;
                                left: 49.9%;
                                transform: translate(-50%, -50%) scaleY(-1);
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                box-shadow: -6px 12px 29px 4px black inset;
                            }
                        }
                    }
                }

            }
        }

    }

    & .all-section {
        width: 100vw;
        padding: 0px 32px;
        // background-color: #55555541;

        & nav {
            & h3 {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }

            & .navigations {
                & .navigation {

                    & .inactive {
                        color: #888 ;
                        cursor: pointer;
                    }
                    
                    & span {
                        color: #fff;
                        cursor: pointer;
                    }
                }

                & button {
                    background-color: #fff;
                    border: none;
                    padding: 6px 16px;
                    border-radius: 8px;
                    cursor: pointer;
                    color: #C01A20;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    
                }
            }
        }

        & .slider-container {
            overflow-x: hidden;
            height: auto;
            padding-top: 12px;
            // background-color: red;

            &::-webkit-scrollbar {
                display: none;
            }

            & .slider-albums-wrapper {
                transition: transform 0.3s ease;
                height: auto;
                width: 100%;
                // background-color: yellow;

                & .slider-album {
                    padding: 8px 0px;
                    height: auto;
                    width: auto;

                    & .album-img {
                        position: relative;
                        height: 170px;
                        width: 170px;
                        border-radius: 8px;
                        overflow: hidden;
                        object-fit: contain;
                        object-position: center;

                        & img {
                            height: 100%;
                            width: 100%;
                        }

                        &:hover .album-img-hover {
                            cursor: pointer;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: 0.3s ease-in-out;
                            box-shadow: 0px 7px 50px 0px black inset;
                            
                            & span {
                                transition: 0.3s ease-in-out;
                                padding: 8px;
                                border-radius: 50%;
                                background-color: #55555596;
                                color: #fff;
                                font-size: 32px;
                            }
                        }

                        & .album-img-wavyHover {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;

                            & img {
                                transform: translate(40%, 30%);
                                height: 60%;
                                width: 60%;
                            }
                        } 
                    }

                    & .album-des {
                        & h4 {
                            display: -webkit-box;
                            width: 170px;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            color: #FFF;
                            text-overflow: ellipsis;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                        }

                        & h5 {
                            display: -webkit-box;
                            width: 170px;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            color: #888;
                            text-overflow: ellipsis;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }

                }

            }
            
        }

    }

    

    & .lyrics {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: red;
        height: 100%;
        width: 100%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 12px 32px;
    background-color: #000000a9;
    flex-grow:  1;
    z-index: 99999;

    & .album-info {

        & .album-img {
            height: 64px;
            width: 64px;
            border-radius: 10px;
            overflow: hidden;
            object-fit: contain;
            object-position: center;

            & img {
                height: 100%;
                width: 100%;
            }
        }

        & h4 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: #FFF;
            text-overflow: ellipsis;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */
        }

        & h5 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            color: #888;
            text-overflow: ellipsis;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */
        }
    }


    & .player-controls {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & span {
            color: #fff;
            font-size: 36px;
            height: 48px;
            width: 48px;
            cursor: pointer;
        }
    }

    & .showLyrics {
        padding: 6px 16px;
        background-color: #C01A20;
        border-radius: 8px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        border: none;
        cursor: pointer;

        &::after {
            content: 'Show Lyrics';
        }
    }

    & .hideLyrics {
        padding: 6px 16px;
        background-color: #fff;
        border-radius: 8px;
        color: #C01A20;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        border: none;
        cursor: pointer;

        &::after {
            content: 'Hide Lyrics';
        }
    }

}

