*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    display: none;
}

d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

main {
    background-color: #111;
    width: 100vw;
    min-height: 100vh;

    & header {
        position: fixed;
        top: 0;
        margin: 0 auto;
        padding: 14px;
        width: 100vw;
        background: #ffffff13;

        & .header-wrapper {

            & h1 {
                font-family: Righteous;
                color: #C01A20;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

