*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.over-hide {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.d-flex {
  display: flex;
}

.opac-0 {
  opacity: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-d-col {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.align-flex-start {
  align-items: flex-start;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.g-4 {
  gap: 4px;
}

.g-8 {
  gap: 8px;
}

.g-12 {
  gap: 12px;
}

.g-16 {
  gap: 16px;
}

.g-24 {
  gap: 24px;
}

.g-32 {
  gap: 32px;
}

.g-40 {
  gap: 40px;
}

.g-40 {
  gap: 40px;
}

.g-48 {
  gap: 48px;
}

.g-64 {
  gap: 64px;
}

.mt-4 {
  margin-top: 4px;
}

.w-100 {
  width: 100%;
  height: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 14px 32px;
  background-color: black;
  width: 100vw;
  z-index: 9;
  border-bottom: 2px solid rgba(116, 116, 116, 0.5019607843);
}
header .header-wrapper .header-left a {
  text-decoration: none;
  color: #C01A20;
}
header .header-wrapper .header-left a h1 {
  font-family: Righteous;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
header .header-wrapper .header-left .menu {
  padding: 0px 64px;
}
@media (max-width: 1100px) {
  header .header-wrapper .header-left .menu {
    padding: 0px 0px 0px 32px;
    gap: 4px !important;
  }
}
header .header-wrapper .header-left .menu a {
  padding: 8px;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}
header .header-wrapper .header-left .menu a:first-child {
  color: #C01A20;
}
header .header-wrapper .header-left .menu a:hover {
  color: #C01A20;
}
header .header-wrapper .header-left .menu a p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
header .header-wrapper .header-right .search-wrapper {
  background-color: #fff;
  width: 283px;
  height: 48px;
  border-radius: 24px;
  padding: 12px 16px;
}
header .header-wrapper .header-right .search-wrapper form .search input {
  border: none;
  width: 216px;
  font-size: 16px;
}
header .header-wrapper .header-right .search-wrapper form .search input:focus {
  outline: none;
  color: #555;
}
header .header-wrapper .header-right .search-wrapper form .search button {
  border: none;
  background-color: #fff;
  margin-right: -4px;
  cursor: pointer;
}
header .header-wrapper .header-right .notify {
  position: relative;
  padding: 6px 8px;
  color: #FFF;
  cursor: pointer;
}
header .header-wrapper .header-right .notify-count {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #C01A20;
  border-radius: 50%;
  top: 0;
  right: 5px;
}
header .header-wrapper .header-right .notify-count p {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: 0.14px;
}
header .header-wrapper .header-right .profile-container {
  position: relative;
}
header .header-wrapper .header-right .profile-container .profile {
  height: 40px;
  color: #fff;
  cursor: pointer;
}
header .header-wrapper .header-right .profile-container .profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}
header .header-wrapper .header-right .profile-container .profile-action {
  position: absolute;
  padding: 20px 16px;
  border-radius: 8px;
  background-color: #fff;
  top: 50px;
  left: -82px;
  z-index: 99;
}
header .header-wrapper .header-right .profile-container .profile-action a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main {
  position: relative;
  background-color: black;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  margin-top: 76px;
}
main .hero-section {
  height: 52vh;
  width: 100vw;
  background-color: transparent;
  padding: 0px 32px 0px 32px;
  overflow-y: hidden;
  overflow-x: hidden;
}
main .hero-section .hero-slider {
  color: #fff;
  height: 94%;
}
main .hero-section .hero-slider .back,
main .hero-section .hero-slider .forward {
  font-size: 32px;
  cursor: pointer;
}
main .hero-section .hero-slider .forward {
  margin-right: -12px;
}
main .hero-section .hero-slider .hero-img-wrapper {
  overflow: hidden;
  width: 1294px;
}
@media (max-width: 1440px) {
  main .hero-section .hero-slider .hero-img-wrapper {
    width: 1069px;
  }
}
@media (max-width: 1242px) {
  main .hero-section .hero-slider .hero-img-wrapper {
    width: 964px;
  }
}
@media (max-width: 1133px) {
  main .hero-section .hero-slider .hero-img-wrapper {
    width: 728px;
  }
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container {
  width: 100%;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img {
  backface-visibility: visible;
  height: 100%;
  width: 410px;
  border-radius: 10px;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2) {
  cursor: pointer;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img.transformed-0 {
  transform: perspective(478px) rotateY(345deg) scale(0.9);
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img.transformed-1 {
  transform: translate(0%, 0%);
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img.transformed-11 {
  transform: translate(200%, 0%) perspective(478px) rotateY(-345deg) scale(0.9);
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img.transformed-2 {
  transform: perspective(478px) rotateY(-345deg) scale(0.9);
}
@media (max-width: 1440px) {
  main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img {
    height: 380px;
    width: 335px;
  }
}
@media (max-width: 1242px) {
  main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img {
    height: 380px;
    width: 300px;
  }
}
@media (max-width: 1133px) {
  main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img {
    height: 300px;
    width: 240px;
  }
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img-up {
  position: relative;
  border-radius: 8px;
  height: 380px;
  width: 100%;
  background-color: green;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img-up img {
  height: 100%;
  width: 100%;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover {
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.116);
  box-shadow: 0px -40px 73px 16px black inset;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover .play-container {
  transition: 0.3s ease-in-out;
  height: 80%;
  width: 100%;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover .play-container span {
  transition: 0.3s ease-in-out;
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.363);
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  margin-top: 60px;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover .song-info {
  transition: 0.3s ease-in-out;
  text-align: left;
  padding: 12px;
  width: 100%;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover .song-info h4 {
  transition: 0.3s ease-in-out;
  font-size: 24px;
  font-weight: 300;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img:nth-child(2):hover .hero-img-hover .song-info h5 {
  transition: 0.3s ease-in-out;
  font-size: 18px;
  color: #b6b4b4;
  font-weight: 400;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img-down {
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 39px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img-down img {
  transform: scaleY(-1);
}
main .hero-section .hero-slider .hero-img-wrapper .hero-img-container .hero-img-down .shadow {
  top: 50%;
  left: 49.9%;
  transform: translate(-50%, -50%) scaleY(-1);
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: -6px 12px 29px 4px black inset;
}
main .all-section {
  width: 100vw;
  padding: 0px 32px;
}
main .all-section nav h3 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
main .all-section nav .navigations .navigation .inactive {
  color: #888;
  cursor: pointer;
}
main .all-section nav .navigations .navigation span {
  color: #fff;
  cursor: pointer;
}
main .all-section nav .navigations button {
  background-color: #fff;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #C01A20;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
main .all-section .slider-container {
  overflow-x: hidden;
  height: auto;
  padding-top: 12px;
}
main .all-section .slider-container::-webkit-scrollbar {
  display: none;
}
main .all-section .slider-container .slider-albums-wrapper {
  transition: transform 0.3s ease;
  height: auto;
  width: 100%;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album {
  padding: 8px 0px;
  height: auto;
  width: auto;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img {
  position: relative;
  height: 170px;
  width: 170px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img img {
  height: 100%;
  width: 100%;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img:hover .album-img-hover {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 7px 50px 0px black inset;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img:hover .album-img-hover span {
  transition: 0.3s ease-in-out;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(85, 85, 85, 0.5882352941);
  color: #fff;
  font-size: 32px;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img .album-img-wavyHover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-img .album-img-wavyHover img {
  transform: translate(40%, 30%);
  height: 60%;
  width: 60%;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-des h4 {
  display: -webkit-box;
  width: 170px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
main .all-section .slider-container .slider-albums-wrapper .slider-album .album-des h5 {
  display: -webkit-box;
  width: 170px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #888;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
main .lyrics {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
}
main .lyrics .lyrics-container {
  padding: 32px;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: right;
}
main .lyrics .lyrics-container .lyricsBgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(4px);
}
main .lyrics .lyrics-container span {
  rotate: 90deg;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}
main .lyrics .lyrics-container .lyrics-wrapper {
  padding: 32px 0px;
  height: 75%;
  position: relative;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-img {
  height: 340px;
  width: 340px;
  overflow: hidden;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-img img {
  height: 100%;
  width: 100%;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-writer {
  height: 545px;
  width: 645px;
  margin-top: -64px;
  overflow: hidden;
  text-align: right;
  overflow-y: auto;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-writer::-webkit-scrollbar {
  display: none;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-writer-wrapper {
  height: fit-content;
  width: fit-content;
  color: #fff;
}
main .lyrics .lyrics-container .lyrics-wrapper .lyrics-writer-wrapper p {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 39.2px */
  letter-spacing: 0.56px;
  text-transform: capitalize;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 12px 32px;
  background-color: #000000;
  flex-grow: 1;
  z-index: 99999;
}
footer .timeline {
  position: absolute;
  width: 100vw;
  cursor: pointer;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  margin-left: -32px;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
}
footer .timeline::-webkit-slider-thumb {
  appearance: none;
  --webkit-appearence: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #fff;
}
footer .timeline::-moz-range-thumb {
  appearance: none;
  --webkit-appearence: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #fff;
}
footer .timeline::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s;
  background-color: #fff;
}
footer .timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
footer .timeline::-moz-range-track {
  appearance: none;
  -webkit-appearence: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
footer .album-info .album-img {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
footer .album-info .album-img img {
  height: 100%;
  width: 100%;
}
footer .album-info h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
footer .album-info h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #888;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
footer .player-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .player-controls span {
  color: #fff;
  font-size: 36px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}
footer .showLyrics {
  padding: 6px 16px;
  background-color: #C01A20;
  border-radius: 8px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
  cursor: pointer;
}
footer .showLyrics::after {
  content: "Show Lyrics";
}
footer .hideLyrics {
  padding: 6px 16px;
  background-color: #fff;
  border-radius: 8px;
  color: #C01A20;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
  cursor: pointer;
}
footer .hideLyrics::after {
  content: "Hide Lyrics";
}

/*# sourceMappingURL=style.css.map */
